<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
>
    <php>
        <env name="APP_KEY" value="nutfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <env name="REDIS_SENTINEL_HOST" value="127.0.0.1"/>
        <env name="REDIS_SENTINEL_PORT" value="26379"/>
        <env name="REDIS_SENTINEL_SERVICE" value="service1"/>
    </php>
    <testsuites>
        <testsuite name="Test">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
